@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  //padding-bottom: env(safe-area-inset-bottom);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}