rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        // Default
        match /{document=**} {
            allow read, write: if false;
        }

        // Global chat
        match /messages/global {
            allow read: if isAuth();
            allow write: if isAuth();
        }

        // Messages
        match /messages/{chatId} {
            allow read: if isAuth() && chatId.size() == 57 && isUserInChatId(chatId);
            allow write: if isAuth() && chatId.size() == 57 && isUserInChatId(chatId);
        }

        // Users (deprecated)
        match /users/{userId} {
            allow read: if isAuth();
            allow write: if isOwner(userId);
        }

        // Status (deprecated)
        match /status/{userId} {
            allow read: if isAuth();
            allow write: if isOwner(userId);
        }

        // Utils functions
        function isOwner(userId) {
            return request.auth.uid == userId;
        }

        function isAuth() {
            return request.auth != null;
        }

        function isUserInChatId(chatId) {
            return request.auth.uid == chatId[0:28] || request.auth.uid == chatId[29:57];
        }
    }
}