@import '@/app/styles/colors.scss';
@import '@/app/styles/variables.scss';

.chat-root-container {
    height: calc(100vh - $header-height);
    width: 100%;
    display: flex;
}

.chat-container {
    flex: 1;
    padding: 10px;
}

.chat-online-container-root {
    width: 25%;
    max-width: 300px;
}