@import '@/app/styles/variables.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 300px;
    justify-content: left;
}

.header-right {
    @extend .header-left;

    justify-content: right;
}

.header-nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-links a, i {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;

    @media (max-width: $max-width) {
        display: none;
    }
}

.header-center {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}