header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    left: 0;
}

.header-nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-links a, i {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.header-center {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}