@use '@/app/styles/variables.scss' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    z-index: 100;

    @media (max-width: $breakpoint-md) {
        padding: 1rem 1.5rem;
    }
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-right {
    justify-content: flex-end;
}

.header-center-nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-link {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    padding: 0.625rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    transition: color 0.2s;

    &:hover {
        color: white;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 1rem;
        padding: 0.5rem;
    }

    @media (max-width: $breakpoint-sm) {
        font-size: 0.9rem;
        padding: 0.25rem;
    }
}

.header-center {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;

    @media (max-width: $breakpoint-md) {
        font-size: 2rem;
    }

    @media (max-width: $breakpoint-sm) {
        font-size: 1.5rem;
    }
}