@use '@/app/styles/variables.scss' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    position: relative;
    z-index: 100;
}

.header-left {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
}

.header-right {
    @extend .header-left;

    justify-content: flex-end;
}

.header-center-nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header-link {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;

    @media (max-width: $max-width) {
        display: none;
    }
}

.header-center {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}