@import '@/app/styles/colors.scss';

.chat-online-container {
    width: 100%;
    height: 100%;
    border-left: 1px solid rgba($background-darkgrey-super-dark, 0.5);
}

// TITLE

.chat-online-title-container {
    text-align: center;
    padding: 5px;
    height: 30px;
}

.chat-online-title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

// USER

.chat-online-user-root-container {
    overflow-y: auto;
    height: calc(100% - 30px);
}

.chat-online-user-container {
    display: flex;
    cursor: pointer;
}

.chat-online-user-container:hover {
    background-color: rgba($background-darkgrey-super-dark, 0.25);
}

.chat-online-user-info-container {
    margin: 5px;
    max-height: 40px;
    display: flex;
    flex-direction: column;
}

.chat-online-user-info-displayname {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white
}

.chat-online-user-info-status {
    @extend .chat-online-user-info-displayname;

    color: lightgray;
    margin-top: -5px;
}

// Loading

.chat-online-loading-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.chat-online-loading-avatar {
    display: flex;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.chat-online-loading-texts {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
}

.chat-online-loading-text-big {
    height: 0.75rem;
    width: 80%;
    border-radius: 0.5rem;
}

.chat-online-loading-text-small {
    @extend .chat-online-loading-text-big;
    width: 60%;
}